body {
    background: black url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.block {
    background: url(images/transparent_white.png);
    padding: 20px;
    margin: 20px 0;
    width: 600px;
    border: solid 10px;
    border-radius: 10px;
}

#subheader {
    border-color: black;
    border-radius: 20px;
}

#subheader h1 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
}

#subheader p {
    font-size: 21px;
    font-weight: normal;
    color: black;
}

#reservation {
    border-color: white;
    border-radius: 20px;
}

#reservation h1 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
}

form {
    text-align: left;
    width: 400px;
    margin: 20px auto 0;
}

form label {
    border-radius: 10px;
    display: block;
    width: 400px;
    padding: 5px;
    background-color: #333333;
    color: white;
    font-weight: normal;
}

form input {
    border-radius: 10px;
    display: block;
    width: 400px;
    padding: 10px 5px;
    margin: 0 0 10px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
}

form input[type="submit"] {
    border-radius: 10px;
    background: rgb(151, 15, 15);
    color: white;
    cursor: pointer;
    width: 410px;
    font-size: large;
}

footer {
    background: black;
    color: white;
    margin: 20px 0;
    padding: 20px;
}

@media screen and (min-width: 769px) {
    
}